{% extends 'base.html' %}

{% block content %}


{% for post in posts %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top" src="https://images.pexels.com/photos/4960464/pexels-photo-4960464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="..." />
                        {% else %}
                        <img class="card-img-top" src="{{ post.featured_image.url }}" alt="..." />
                        {% endif %}
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Post title-->
                                <h5 class="fw-bolder">{{ post.title }}</h5>
                                <!-- Product price-->
                                {{ post.excerpt }}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'post_detail' post.slug %}">Full article</a></div>
                        </div>
                    </div>
                </div>
            {% endfor %}

{% endblock content %}