{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}
<div class="py-5">
    <h1>Edit your reported scam</h1>
    <div class="container px-4 px-lg-5 mt-5 card">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-md-7 mb-4 justify-content-center">
                <p>
                    <button type="submit" class="btn right btn-outline-dark">Update Scam</button>
                </p>
            </div>
        </form>
    </div>
</div>
{% else %}
<div class="py-5 text-center">
    <h2>You need to be signed in to report a scam</h2>
</div>
{% endif %}
{% endblock content %}