{% extends 'base.html' %}

{% block content %}

<!-- Again the page check if the original author of the scam is log in, only the original author of the scam-->
<!-- can edit the scam or the superuser in the admin menu-->
{% if scam.email == request.user.email %}
<!-- This page shows the form to update a selected scam-->
<div class="py-5">
    <h1>Edit your reported scam</h1>
    <div class="container px-4 px-lg-5 mt-5 card">
        <form method="POST">
            {% csrf_token %}
            <!-- The form is already populated with its value-->
            {{ form.as_p }}
            <div class="col-md-7 mb-4 justify-content-center">
                <p>
                    <!-- By clicking the below button, the scam is updated into the database-->
                    <button type="submit" class="btn right btn-outline-dark">Update Scam</button>
                </p>
            </div>
        </form>
    </div>
</div>
<!-- If by any miracle another user get on the edit page of a certain scam he is not the author-->
{% else %}
<div class="py-5 text-center">
    <h2>You need to be the original author to edit a scam</h2>
</div>
{% endif %}
{% endblock content %}