{% extends "base.html" %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for post in post_list %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top" src="https://images.pexels.com/photos/6772076/pexels-photo-6772076.jpeg" alt="..." />
                    {% else %}
                    <img class="card-img-top" src="{{ post.featured_image.url }}" alt="..." />
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Post title-->
                            <h5 class="fw-bolder">{{ post.title }}</h5>
                            <!-- Product price-->
                            {{ post.excerpt }}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Full article</a></div>
                    </div>
                </div>
            </div>
        {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% endif %}
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}