{% extends "base.html" %}

{% block content %}
<!-- The below is simply using a loop in a loop to go through each categories and then go through all -->
<!-- posts of that categorie before going to the next one-->
{% for posts in all_posts %}
    <section class="py-5">
        <h1>{{ posts.category }}</h1>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for post in posts.posts %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- post image-->
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top" src="https://images.pexels.com/photos/4960464/pexels-photo-4960464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="..." />
                        {% else %}
                        <img class="card-img-top" src="{{ post.featured_image.url }}" alt="..." />
                        {% endif %}
                        <!-- Post details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Post title-->
                                <h5 class="fw-bolder">{{ post.title }}</h5>
                                <!-- Post excerpt-->
                                {{ post.excerpt }}
                            </div>
                        </div>
                        <!-- link to the full post-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'post_detail' post.slug %}">Full article</a></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <!-- This link to all the posts of that categorie as the index page is limited to 4 articles per categorie-->
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'category_posts' posts.category %}">More posts</a></div>
        </div>
    </section>
{% endfor %}
{% endblock %}