{% extends 'base.html' %}

{% block content %}
<div class="py-5">
    <h1>Report a scam</h1>
    <div class="container px-4 px-lg-5 mt-5 card">
        <form method="POST" action="add">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-md-7 mb-4 justify-content-center">
                <p>
                    <label for="id_tittle">Title: </label>
                    <input type="text" id="id_title" name="scam_title" class="d-md-block" required> 
                </p>
                <p>
                    <label for="id_media">What social media were you contacted from?</label>
                    <input type="text" id="id_media" name="scam_media" class="d-md-block" required> 
                </p>
                <p>
                    <label for="id_excerpt">Brief description</label>
                    <textarea id="id_excerpt" name="scam_excerpt" rows="2" cols="25" class="d-md-block" required></textarea> 
                </p>
                <p>
                    <label for="id_content">Full description</label>
                    <textarea id="id_content" name="scam_content" class="d-md-block" required></textarea> 
                </p>
                <p>
                    <button type="submit" class="btn right btn-outline-dark">Report Scam</button>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock content %}