{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-12 text-center">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ scam.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ scam.author }} | {{ scam.created_on }} </p>
            </div>
            <div class="d-none d-md-block col-md-12 text-center">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img class='card-img-top' src="https://images.pexels.com/photos/4960464/pexels-photo-4960464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="100%">
                {% else %}
                <img class='card-img-top' src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
            <div class="d-none d-md-block col-md-12 text-center">
                <p>{{ scam.content | safe }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}